@{
    ViewBag.Title = "About " + Settings.COMPANY_ABBR;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string companyName = Settings.COMPANY_NAME;
}

 <!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">ABOUT US</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li>@Html.Bootstrap().ActionLink("Home", "Index", "Home") </li>
                            <li>ABOUT US</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

 <!--About Area Start-->
<div class="about-area mt-95">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="about-container">
                    <h3>Learn how to make decisions <span class="orange-color">based on the best available</span> <span class="orange-color">research evidence.</span></h3>
                    
                    <p>
                        Our goal is to generate action on the pressing issues of our time, based on the best available research evidence and systematically elicited citizen values and stakeholder insights.
                    </p>

                    <p>
                        We are an international multi-disciplinary team, based at Makerere University, Kampala-Uganda, working across the continent. We have a track record for high quality collaborative work with strong partnerships with governments, universities and NGOs.
                    </p>

                    <p>
                        We, at Makerere University College of health sciences are scaling up efforts to build capacity of researchers, policy makers and other stakeholders in evidence informed public policy making using Rapid Response Evidence Briefs. The Rapid Response Service aims at making synthesised research evidence easily accessible to policy makers in a timely way (short period).
                    </p>
                  
                </div>
            </div>             

            
            <div class="col-lg-6">
                <div class="about-container">
                    <br /><br /><br /><br /><br /><br />
                    <p>
                        One of our goals is to produce useful research evidence to inform policy and practice across the region. This includes the production of evidence maps, and evidence syntheses, including systematic reviews. We do this in close liaison with governments, civil society and other stakeholders. We also conduct externally-commissioned systematic reviews and evidence syntheses on pro-poor issues.
                    </p>
                    <p>
                        We aim to ensure that evidence mapping and synthesis design and methods are fully responsive to the contexts and needs of research producers and users in Africa. We achieve this through engagement with the full range of methodologies employed in this field, including approaches for stakeholder engagement and co-production. We are building links with centres of excellence nationally and internationally, inside and outside of academia. We also reflect on, and research, methodologies for evidence mapping synthesis.
                    </p>
                  
                </div>
            </div>             


            </div>
    </div>
</div>
<!--End of About Area-->

@*<!-- Section: inner-header -->
<section class="page-title divider layer-overlay overlay-dark-8 section-typo-light" data-tm-bg-img="@Url.Content("~/Content/coreAssets/images/bg/allPagesBg.png")">
    <div class="container pt-90 pb-90">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title text-white">About Us</h2>
                    <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                        <div class="breadcrumbs">
                            <span class="trail-item trail-begin">
                                <a href="#"><span>Home</span></a>
                            </span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span class="trail-item"><span>Pages</span></span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end active"><span>About</span></span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="divider layer-overlay overlay-theme-colored1-8" data-tm-bg-img="images/bg/bg4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center font-72">
                <h2 class="text-white font-weight-600">Who we are</h2>
                <p class="text-white font-size-18">


                    ACRES gives disadvantaged children in Uganda access to education, primarily by assigning them to individual sponsors.
                    <span style="font-size:30px">For just £1 a day</span> you can send a child to a good primary school, providing them with not only a good education but also securing them with at least one meal a day.
                    <span style="font-size:30px">For just £2 a day</span> you can give a child the chance to go to secondary school and determine their own future.

                    <br /><br />

                    In Uganda, it was reported that only <span style="font-size:30px">25%</span> of children reach the end of Primary School and <span style="font-size:30px">17%</span> of these enrol in Secondary education.
                    This leaves vulnerable youths all over the country, doing whatever they can to get a meal each day.
                    These youths often lack role models in their lives and therefore school is pivotal to their social development and in helping them to make valuable decisions.

                    <br /><br />

                    As a result, ACRES was officially set up in 2016 and is ever expanding its reach. It relies on its regular donors (sponsors and general supporters) as well as one off donations and income from fundraising events and institutional grants.
                    It has already made a huge impact on the lives of over <span style="font-size:30px">70</span> youths in Uganda.

                    <br /><br />

                    ACRES has a unique personal touch and encourages sponsors to build relationships with the beneficiaries, exchanging letters and some have even been to Uganda to visit!
                    Please, give what you can manage - every small donation makes a big difference here. Even if you are not in a position to support a child through school, small contributions help us to equip the kids with the necessary school requirements as well as enabling kids to go on study trips etc.

                    <br /><br />

                    Giving is Good Medicine. 

                    <br/>

                    That's why every child whose future is made brighter through education, stems from an act of generosity that's purely voluntary.
                    You don't have to donate. That's why it's so extraordinary when you do.

                    Charity No: 1167808


                </p>
                <div class="tm-sc tm-sc-button text-center mt-20">
                    <a href="#" target="_self" class="btn btn-light btn-round">
                        Donate Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>*@
@section Scripts {
}
