@{
    ViewBag.Title = "Become A Sponsor " + Settings.COMPANY_ABBR;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string companyName = Settings.COMPANY_NAME;
}

<!-- Section: inner-header -->
<section class="page-title divider layer-overlay overlay-dark-8 section-typo-light" data-tm-bg-img="@Url.Content("~/Content/coreAssets/images/bg/allPagesBg.png")">
    <div class="container pt-90 pb-90">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title text-white">Become A Sponsor</h2>
                    <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                        <div class="breadcrumbs">
                            <span class="trail-item trail-begin">
                                <a href="#"><span>Home</span></a>
                            </span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span class="trail-item"><span>Pages</span></span>
                            <span><i class="fa fa-angle-right"></i></span>
                            <span itemscope itemtype="http://schema.org/ListItem" class="trail-item trail-end active"><span>Become A Sponsor</span></span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

		<!-- Sponsees -->
<section>
    <div class="container pb-80">
        <div class="section-title text-center mb-40">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <h2 class="title text-uppercase mt-0"><span class="">Our</span> <span class="text-white">Beneficiaries</span></h2>
                    <p class="text-white font-size-18">
                    Choose a child you would wish to be paired with as their sponsor and make a difference in their lives.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tm-sc tm-sc-staff tm-sc-staff-carousel staff-style1-simple owl-dots-light-skin">
                        <!-- Isotope Gallery Grid -->
                        <div class="owl-carousel owl-theme tm-owl-carousel-4col" data-nav="true" data-dots="true" data-autoplay="true" data-loop="true" data-duration="6000" data-margin="30">
                            <!-- the loop -->
                            <div class="tm-carousel-item">
                                <div class="tm-staff staff-items type-staff-items">
                                    <div class="staff-inner">
                                        <div class="box-hover-effect">
                                            <div class="effect-wrapper">
                                                <div class="thumb">
                                                    <img width="550" height="550" src="images/team/1.jpg" alt="" />
                                                </div>
                                                <div class="overlay-shade shade-white"></div>
                                                <div class="icons-holder icons-holder-middle">
                                                    <div class="icons-holder-inner">
                                                        <ul class="styled-icons icon-dark icon-theme-colored1 icon-circled icon-sm">
                                                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="staff-content">
                                                <h4 class="name" style="color:white;"><a href="#">Andy Rojar</a></h4>
                                                <div class="speciality" style="color:white;">Web Developer</div>
                                                <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                                <div class="staff-btn">
                                                    <div class="btn-view-details">
                                                        <a href="#"
                                                           class="btn - btn-theme-colored1 - btn-sm">
                                                            View Details
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-carousel-item">
                                <div class="tm-staff staff-items type-staff-items">
                                    <div class="staff-inner">
                                        <div class="box-hover-effect">
                                            <div class="effect-wrapper">
                                                <div class="thumb">
                                                    <img width="550" height="550" src="images/team/2.jpg" alt="" />
                                                </div>
                                                <div class="overlay-shade shade-white"></div>
                                                <div class="icons-holder icons-holder-middle">
                                                    <div class="icons-holder-inner">
                                                        <ul class="styled-icons icon-dark icon-theme-colored1 icon-circled icon-sm">
                                                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="staff-content">
                                                <h4 class="name"><a href="#">Jacob Smith</a></h4>
                                                <div class="speciality">UI/UX Designer</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                                <div class="staff-btn">
                                                    <div class="btn-view-details">
                                                        <a href="#"
                                                           class="btn - btn-theme-colored1 - btn-sm">
                                                            View Details
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-carousel-item ">
                                <div class="tm-staff staff-items type-staff-items">
                                    <div class="staff-inner">
                                        <div class="box-hover-effect">
                                            <div class="effect-wrapper">
                                                <div class="thumb">
                                                    <img width="550" height="550" src="images/team/3.jpg" alt="" />
                                                </div>
                                                <div class="overlay-shade shade-white"></div>
                                                <div class="icons-holder icons-holder-middle">
                                                    <div class="icons-holder-inner">
                                                        <ul class="styled-icons icon-dark icon-theme-colored1 icon-circled icon-sm">
                                                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="staff-content">
                                                <h4 class="name"><a href="#">Petey Cruiser</a></h4>
                                                <div class="speciality">Project Manager</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                                <div class="staff-btn">
                                                    <div class="btn-view-details">
                                                        <a href="#"
                                                           class="btn - btn-theme-colored1 - btn-sm">
                                                            View Details
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-carousel-item ">
                                <div class="tm-staff staff-items type-staff-items">
                                    <div class="staff-inner">
                                        <div class="box-hover-effect">
                                            <div class="effect-wrapper">
                                                <div class="thumb">
                                                    <img width="550" height="550" src="images/team/4.jpg" alt="" />
                                                </div>
                                                <div class="overlay-shade shade-white"></div>
                                                <div class="icons-holder icons-holder-middle">
                                                    <div class="icons-holder-inner">
                                                        <ul class="styled-icons icon-dark icon-theme-colored1 icon-circled icon-sm">
                                                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="staff-content">
                                                <h4 class="name"><a href="#">Anna Sthesia</a></h4>
                                                <div class="speciality">UI/UX Designer</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                                <div class="staff-btn">
                                                    <div class="btn-view-details">
                                                        <a href="#"
                                                           class="btn - btn-theme-colored1 - btn-sm">
                                                            View Details
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-carousel-item ">
                                <div class="tm-staff staff-items type-staff-items">
                                    <div class="staff-inner">
                                        <div class="box-hover-effect">
                                            <div class="effect-wrapper">
                                                <div class="thumb">
                                                    <img width="550" height="550" src="images/team/3.jpg" alt="" />
                                                </div>
                                                <div class="overlay-shade shade-white"></div>
                                                <div class="icons-holder icons-holder-middle">
                                                    <div class="icons-holder-inner">
                                                        <ul class="styled-icons icon-dark icon-theme-colored1 icon-circled icon-sm">
                                                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="staff-content">
                                                <h4 class="name"><a href="#">Paige Turner</a></h4>
                                                <div class="speciality">Web Designer</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                                <div class="staff-btn">
                                                    <div class="btn-view-details">
                                                        <a href="#"
                                                           class="btn - btn-theme-colored1 - btn-sm">
                                                            View Details
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-carousel-item ">
                                <div class="tm-staff staff-items type-staff-items">
                                    <div class="staff-inner">
                                        <div class="box-hover-effect">
                                            <div class="effect-wrapper">
                                                <div class="thumb">
                                                    <img width="550" height="550" src="images/team/1.jpg" alt="" />
                                                </div>
                                                <div class="overlay-shade shade-white"></div>
                                                <div class="icons-holder icons-holder-middle">
                                                    <div class="icons-holder-inner">
                                                        <ul class="styled-icons icon-dark icon-theme-colored1 icon-circled icon-sm">
                                                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="staff-content">
                                                <h4 class="name"><a href="#">Tara Misu</a></h4>
                                                <div class="speciality">Web Developer</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                                <div class="staff-btn">
                                                    <div class="btn-view-details">
                                                        <a href="#"
                                                           class="btn - btn-theme-colored1 - btn-sm">
                                                            View Details
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of the loop -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
}
