<nav class="navbar navbar-default navbar-static-top navbar3">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/logo2.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="mainNav">
            <a href="#donate_box" class="btn-primary btn-outline hidden-sm hidden-xs pull-right">donate now</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home Variation 1</a></li>
                        <li><a href="index2.html">Home Variation 2</a></li>
                        <li><a href="index3.html">Home Variation 3</a></li>
                        <li><a href="index4.html">Home Variation 4</a></li>
                        <li><a href="index5.html">Home Variation 5</a></li>
                        <li><a href="index-single-cause.html">Single Cause Variation 1</a></li>
                        <li><a href="index-single-cause2.html">Single Cause Variation 2</a></li>
                    </ul>
                </li>
                <li><a href="donation-checkout.html">donate</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Causes</a>
                    <ul class="dropdown-menu">
                        <li><a href="cause-listing-list.html">Cause listing list</a></li>
                        <li><a href="cause-listing-grid.html">Cause listing grid</a></li>
                        <li><a href="single-cause.html">Cause details</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">projects</a>
                    <ul class="dropdown-menu">
                        <li><a href="project.html">Projects</a></li>
                        <li><a href="single-project.html">Project Details</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
                    <ul class="dropdown-menu">
                        <li><a href="404.html">404</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="single.html">Blog Details</a></li>
                        <li><a href="events.html">Event Listing</a></li>
                        <li><a href="single-event.html">Event Details</a></li>
                        <li><a href="faqs.html">FAQ</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="shortcode.html">Shortcode</a></li>
                        <li><a href="shortcode2.html">Shortcode Column</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">shop</a>
                    <ul class="dropdown-menu">
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="single-product.html">Product Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </div>
    </div>
</nav>