 

<!--Slider Area Start-->
<div class="slider-area">
    <div class="hero-slider owl-carousel">
        <!--Single Slider Start-->
        <div class="single-slider" style="background-image: url('/Content/coreAssets/img/slider/2.jpg');">
            <div class="hero-slider-content">
                <h1>PRODUCING USEFUL<br /> RESEARCH EVIDENCE.</h1>
                <p>
                    One of our goals is to produce useful research evidence to inform policy and practice across the region. This includes the production of evidence maps, and evidence syntheses, including systematic reviews. We do this in close liaison with governments, civil society and other stakeholders. We also conduct externally-commissioned systematic reviews and evidence syntheses on pro-poor issues.    
                </p>
                @*<div class="slider-btn">
                    <a class="button-default" href="course.html">View Courses</a>
                </div>*@
            </div>
        </div>
        <!--Single Slider End-->
        <!--Single Slider Start-->
        <div class="single-slider" style="background-image: url('/Content/coreAssets/img/slider/3.jpg');">
            <div class="hero-slider-content">
                <h1>SUPPORTING OTHERS TO<br /> PRODUCE USEFUL RESEARCH EVIDENCE.</h1>
                <p>
                    We aim to support the production by others of high quality evidence maps, and evidence syntheses, including systematic reviews. Activities in this area include providing seminars and courses to researchers nationally and internationally building the skills of researchers to provide relevant evidence in manners accessible to decision-makers, civil society and other stakeholders. We offer advice and mentorship to those undertaking these kinds of research.
                 </p>
                @*<div class="slider-btn">
                    <a class="button-default" href="course.html">View Courses</a>
                </div>*@
            </div>
        </div>
        <!--Single Slider End-->
    </div>
</div>
<!--Slider Area End-->